table{
    width: 100%;
}
.rigth{
    float: right;
}
.btn-u-d{
    position: relative;
    top:6px;
}
td{
    height: 100px!important;
    padding:10px!important;
}

#fav{
    cursor:pointer;
}
.dpl{
    background: #ff8f05;
    color: white;
}

@media screen and (max-width: 768px) {
    .mobil{
        float:none;
        text-align:center;
        width: 100%;
    }
    table {
        display: block;
        overflow-x: auto;
    }
    .rigth{
        float: none!important;
    }
    .backend{
        padding-left: 25px;
        padding-right: 25px;
    }
    .inputFilter{
        width: 100%;
    }
}