.container-img > img{
    width: 23%!important;   
}

.container-img{
    align-content: center!important;
    text-align: center!important;
}
.card-product{
    width:250px;
    height: 340px;
}
.card-product-img{
    height: 200px;
    text-align:center!important;
}
.card-product-content{
    height: 90px;
}
.card-product-name{
    padding-top: 20px;
}
.py-cards{
    padding-top: 40px;
    padding-bottom: 40px;
}
.container{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 140px;
    background-color:#f2f2f2!important;
}
.card-product-img > img {
    max-width: 100%!important;
    max-height: 100%!important;
}
.title{
    font-size:35px;
}