<mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let seccion of listSeccion | slice : 0 : 8"> 

        <mat-card class="card-product">
            <div class="card-product-img">
            <img src="{{seccion.url}}" >
          </div>
          <mat-divider></mat-divider>
          
            <mat-card-content class="card-product-content">
              <p class="card-product-name">
                {{seccion.name}}
              </p>
            </mat-card-content>
            <mat-card-content>
              <button mat-raised-button color="primary" routerLink="/detalle/{{seccion.p_slug}}">Ver productos</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>  
  </mat-grid-list>
