<mat-grid-list cols="3" rowHeight="500px" >
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
  
      <div class="example-container">
        <div *ngIf="boolDontChangePassword">
          <mat-form-field>
            <input [(ngModel)]="clientList.name" matInput placeholder="Nombre de usuario" name="name" >
          </mat-form-field>
          
          <mat-form-field>
            <input [(ngModel)]="clientList.mail" matInput placeholder="E-mail" name="mail" >
          </mat-form-field>
          <br>
          <a (click)="handleChangePassword()" >cambiar contraseña</a>
        </div>
        
        <div *ngIf="boolChangePassword">
          
        <mat-form-field>
          <input matInput placeholder="nueva contraseña" type="password" name="password" >
        </mat-form-field>
          
        <mat-form-field>
          <input matInput placeholder="Confirmar contraseña" type="password" name="passwordConfirm" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="contraseña actual" type="password" name="passwordConfirm" >
        </mat-form-field>
        
          <br>
          <a (click)="handleDontChangePassword()" >Cancelar</a>
      </div>
        
          <button mat-raised-button color="primary" (click)="handleSendClient(clientList)">Editar</button>
          <button mat-raised-button color="danger" [routerLink]="['/backend/cliente']">Volver</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  