.example-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: 5%;
    padding: 5%
}


h3{
    padding-top: 30px;
}

.mat-raised-button:not([class*=mat-elevation-z]){
    margin-bottom: 1%;

}
