<!-- First toolbar to setting acount -->
<section (window:scroll)="onScroll()">

  <mat-toolbar class="toolbar-acount">
    <span class="full-right">
      <a>
        <mat-icon>room</mat-icon>
        Cnel. Mom 2257, San Martin
      </a>
</span>
<span class="p32">
  <a>
    <mat-icon>alarm</mat-icon>Atencion al cliente desde las 14:00hs +54 (011) 4637-9283
  </a>
  </span>
  <span class="cp ltl">
    <a [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>Mi cuenta
  </a>
  <mat-menu #menu="matMenu">
    <span *ngIf="clientOnline === undefined">
    <button mat-menu-item routerLink="/login">Iniciar sesión</button>
    <button mat-menu-item routerLink="/login">Crear cuenta</button>
    <button mat-menu-item>Carrito</button>
    </span>
    <span *ngIf="clientOnline !== undefined">
      <button mat-menu-item routerLink="/notificaciones"><mat-icon matBadge="{{notifications}}" matBadgePosition="after" matBadgeColor="warn">message</mat-icon>Notificaciones</button>
      <button mat-menu-item routerLink="/mi-cuenta"><mat-icon>account_circle</mat-icon>Mi cuenta</button>
      <button mat-menu-item><mat-icon>shopping_cart</mat-icon>Mi carrito</button>
      <button mat-menu-item (click)="handleExitSession()"><mat-icon>highlight_off</mat-icon>Cerrar sesión</button>      
    </span>
  </mat-menu>

</span>
</mat-toolbar>
<!--
  ./ toolbar-acount 
  Second toolbar to search products
-->
<mat-toolbar class="toolbar-search">
  <span class="container-img"><img src="./assets/img/logo3.png"></span>
    <span class="right-input">
      <input type="text" id="inputSearch" [(ngModel)]="nameToSearch" name="inputSearch" placeholder="Buscar producto"/>
      <button id="goSearch" class="cp" (click)="handleSearchProduct('busqueda/', 'busqueda')" ><mat-icon>search</mat-icon></button>
    </span>
    <span class="circle ltl" matBadge="0" matBadgePosition="after" matBadgeColor="warn"><mat-icon class="shopping cp" >shopping_cart</mat-icon> <a id="price-cart">$0,00</a></span>
    
  </mat-toolbar>
  <!-- 
    ./toolbar-search
    Trhee toolbar to filter by category
  -->
  <mat-toolbar class="toolbar-category">
    <span (click)="handleOpenCategory()" class="button-category cp">
      <b >
        <mat-icon>menu</mat-icon> Categorias
      </b>
      <mat-list *ngIf="clickMenu" class="menuopen">
          <mat-list-item class="overitem" *ngFor="let x of listSeccions | slice : 0 : 7" (click)="handleSearchProduct('seccion/'+x.name, 'seccion')">
            <div class="item-click">
                <a > {{x.name | changeSpace | lowercase | upperCaracter }} </a>
            </div> 
          </mat-list-item>
          <mat-list-item> Ver más...</mat-list-item>
         </mat-list>
    </span>
    <span class="space"></span>
    <div class="menu ltl">
      
    <span class="f13 cp cp-hover mr" >
      <b >
        Ofertas
      </b>
    </span>
    <span class="f13 mr cp-hover cp">
      <b>
      Envios a todo el país
    </b>
  </span>
    <span class="f13 mr cp-hover cp">
      <b>
          Retiro en local
        </b>
      </span>
      <span class="f13 mr cp-hover cp">
        <b>
            Más vendidos  
          </b>
        </span>    
        <span class="f13 mr cp-hover cp">
            <b>
              Medios de pago
            </b>
          </span>
        </div>
        
      </mat-toolbar>
    </section>
        <mat-toolbar *ngIf="viewNavbar" style="position: fixed;" id="search-fixed" class="toolbar-search search-fixed">
            <div class="container-img all-tam">
              
                  <img src="./assets/img/logoprueba.png" class="nav-fixed">
              
            </div>            
              <span class="space"></span>
              <div class="menu ltl">
                
              <span class="f13 cp mr" >
                <b >
                  Ofertas
                </b>
              </span>
              <span class="f13 mr cp">
                <b>
                Envios a todo el país
              </b>
            </span>
              <span class="f13 mr cp">
                <b>
                    Retiro en local
                  </b>
                </span>
                <span class="f13 mr cp">
                  <b>
                      Más vendidos  
                    </b>
                  </span>    
                  <span class="f13 mr cp">
                      <b>
                        Medios de pago
                      </b>
                    </span>
                  </div>
                                
            </mat-toolbar>