
<div class="general">
    <div class="container text-dark">
      <section class="hide">
        <div class="etiquetas">
            <b>Etiquetas relacionadas: </b> <a *ngFor="let etiqueta of listEtiquetas | slice : 0 : 14" class="mr">{{etiqueta.name}}</a> 
          </div>
<mat-grid-list cols="1" rowHeight="60px">
  <mat-grid-tile>
    <div class="item-top">
      <span>
      <a class="mr td-none backList" routerLink="/busqueda/all">Volver al listado</a>
      <a class="ml mr hide td-none click" routerLink="/seccion/{{productFilter.seccion}}">{{productFilter.seccion | changeSpace | lowercase | upperCaracter}} </a> <a class="hide">></a>
      <a class="ml mr hide td-none click" routerLink="/categoria/{{productFilter.categoria}}">{{productFilter.categoria | changeSpace | lowercase | upperCaracter}}</a> <a class="hide">></a>
      <a class="ml mr hide click">{{productFilter.option | changeSpace | lowercase | upperCaracter}}</a>
    </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</section>
<section class="cardProduct">
      <!-- primer fila, contiene foto principal + precio,nombre,etc -->
      <mat-grid-list [cols]="tamCard" (window:resize)="onResize($event)" rowHeight="470px">
        <!-- foto principal del producto -->
        <mat-grid-tile class="cont-img">
          <div class="contenedor-imagen">
<img class="imagen-prod" src="{{productFilter.url}}">
          </div>
        </mat-grid-tile>

        <!-- nombre prod + precio + detalle de envios y pagos + botones -->
        <mat-grid-tile >
          <div class="contenedor-venta">
            <p class="nombre-prod"> {{productFilter.name}}</p>
            <h2 class="precio">${{productFilter.price}}</h2>
            <span>
            <p class="mb-0">
              <mat-icon class="icon-info">credit_card</mat-icon>Paga hasta en 12 cuotas
              <br/>
              <a class="more-info-a">Conocé las formas de pago.</a>
              <br>
              <b class="more-info">Más información</b>
            </p>
            
          </span>
          <span>
            <p class="mb-0">
              <mat-icon class="icon-info">local_shipping</mat-icon>Envios a todo el pais
              <br/>
                <a class="more-info-a">Conocé los tiempos y las formas de envío.</a>
              <br>
              <b class="more-info">Más información</b>
            </p>
          </span>
          <button class="mr" mat-raised-button color="primary">
            Comprar ahora
    </button>
              <button class="btn-add"  mat-raised-button color="primary">
                        Agregar al carrito
              </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>


      <!-- segunda fila, contiene descripcion del producto y metodos de pagos -->
      <mat-grid-list [cols]="tamDetalle" class="descp-mobil" (window:resize)="onResize($event)" rowHeight="{{heightDetalle}}">
        <!-- descripcion del producto -->
        <mat-grid-tile class="br">
          <div class="descripcion">
            <h2 class="nombre-prod">Descripcion del vendedor</h2>
            <p style="text-align: justify">
              {{productFilter.description}}
            </p>
          </div>
        </mat-grid-tile>


        <mat-grid-tile class="bb hide">

          <div class="medios-pago">
            <h2 class="nombre-prod">Medios de pago</h2>
            <mat-tab-group>
              <mat-tab label="En Efectivo">
                <p class="text-dark">
                  Podra acercarse a una de nuestras sucursales y pagar en efectivo, puediendo retirar la mercaderia en el momento o fiajando una fecha de entrega
                </p>
              </mat-tab>
              <mat-tab label="Tarjetas de Credito">
                <p class="text-dark">
                  Una vez realizado el pago podra ponerse en contacto con algun representante de ventas nuestro, para asi coordinar una entrega
                </p>
              </mat-tab>
              <mat-tab label="Transferencia Bancaria">
                <p class="text-dark">
                    Una vez acreditada la transferencia podra ponerse en contacto con algun representante de ventas nuestro, para asi coordinar una entrega
                </p>
              </mat-tab>
            </mat-tab-group>
            
              <div  class="garantia">
                  <p class="mb-0">
                    Garantía del vendedor
                    <br/><br>
                      <a class="more-info-a pl-0">12 meses de garantía, mediante el fabricante con varios services en todo el país. Respuestos asegurados dentro y fuera del país...</a>
                    <br>
                    <b class="more-info pl-0 mr-garantia">Conocer más sobre la garantía</b>
                  </p>
          </div>
            </div>
  </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="tamAsk" rowHeight = "900px" >
        <mat-grid-tile class="br">
          <div class="preguntas">
            <h2>Preguntas</h2>
            <h6>Realice las preguntas que considere necesarias, a la brevedad le responderemos!</h6>
            <form class="form-consulta">
                <mat-form-field class="escribir-consulta">
                  <textarea matInput placeholder="Consulta" [(ngModel)]="objectToSendAsk.ask" name="messageAsk"></textarea>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="handdleAsk()">Enviar</button>
              </form>
              <p class="alert-ask" *ngIf="boolAlertAsk">Ingrese una pregunta.</p>
              <p class="alert-ask" *ngIf="boolAlertSession">Debe estar logeado para poder realizar una pregunta.</p>


            <h5>Ultimas preguntas</h5>
            <div *ngFor="let preguntas of listAsk | slice : 0 : 4">
              <p>
                  <mat-icon>mail</mat-icon>
                  {{preguntas.ask}}
              </p>
              <p class="text-muted">
                  <mat-icon>message</mat-icon>
                  {{preguntas.response}}
              </p>
            </div>
            <br>
            <b class="more-info pl-0 ">Ver más preguntas</b>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
    </div>
    </div>
