.medios-pago, .preguntas, .descripcion, .contenedor-venta, .mat-grid-tile, .mat-figure{
    display: block;
    height: 100%;
  }
  .descripcion{
    padding-top: 30px;
    width: 90%;
  }
  .contenedor-imagen{
    height: max-content!important;
  }
  .etiquetas{
    color: rgba(92, 92, 92, 0.87);
    background: whitesmoke;
    font-size:14px;
}
  .contenedor-imagen > img {
    max-width: 100%;
    max-height: 100%;
  }
  .nombre-prod{
    font-size: 28px;
    font-weight: bold;
  }
  .cardProduct{
    box-shadow: 1px 0px 15px lightgrey;
    color:#333!important;
    border-radius: 5px;
  }
  .more-info{
    padding-left: 39px;
    font-weight: 100;
    color:blue;
    cursor:pointer;
  }
  .more-info:hover{
    color:#bb302a;
  }
  .btn-add{
    margin-top: 30px;
    padding-top: 5px;
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
  }
  .icon-info{
    padding-right: 15px;
  }
  .precio{
    font-size:44px;
    font-weight: 100;
    margin-top: 0px;
  }
  .medios-pago{
    text-align: justify;
    margin-top: 30px;
    width: 90%;
    border-bottom: 1px solid lightgray !important;
  }
  .medios-pago p{
    text-align: justify;
    margin-top: 10px;
  }
  .cont-img{
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }
  .more-info-a{
    padding-left:39px;
    color:gray;
  }
.br{
  border-right: 1px solid #d3d3d3;
}
.mr-garantia{
  font-size: 13px;
}
.pl-0{
padding-left: 0px!important;
}
.garantia{
  margin-top:70px!important;
}
.bb{
  border-bottom: 1px solid #d3d3d3;
}
  .contenedor-venta, preguntas, .mat-icon{
    position: relative;
    top: 7px;
  }
  .contenedor-venta{
   width: 90%
  }
  .contenedor-venta h1{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contenedor-venta button{
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .contenedor-venta input{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0
  }
  .general{
    background-color: #f5f5f5;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container{
    background-color:white!important;
    padding: 0px!important;
  }

  .alert-ask{
    font-size: 13px;
    color:red;
    position: relative;
    bottom:30px;
  }
  .td-none{
    text-decoration: none!important;
  }
  .escribir-consulta{
    width: 417px;
  }
  .backList{
    color:black;
  }
  .form-consulta button{
  }
  .form-consulta{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .item-top{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding-top: 40px;
  }
  .item-top > span{
    font-size: 14px;
  }
  .material-imagen{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .click{
    cursor:pointer;
    color: blue
  }
  .click:hover{
    color:#bb302a;
  }
  .container{
      padding-left: 60px;
      padding-right: 60px;
      margin-left:47px;
      margin-right: 47px;
  }

  .imagen-prod{
      max-width: 100%;
      height: auto;
      width: auto/9;
  }


  #preguntas p{
      overflow: hidden;
  }
  @media (max-width: 768px) {
    .container{
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .hide{
      display: none;
    }
    .medios-pago{
      padding-left: 0px;
    }
    .contenedor-venta{
      padding-left: 12px;
    }
    .descp-mobil{
      border-bottom: 1px solid lightgray;
    }
    .form-consulta > button{
      margin-left: 0px;
    }
    .escribir-consulta{
      width: 330px;
    }
    .contenedor-venta > button {
      margin-top: 40px;
      padding-top: 0px;
      padding-bottom: 0px;
  }
}
.preguntas{
  width: 90%!important;
  padding-top:100px;
}
h2{
  font-size: 30px;
}
h6{
  font-size: 15px;
}
