<div class="container-img">
  <img src="https://djhr6j39qs1q5.cloudfront.net/cdn/recursos/551/520x110/recogerentienda2-520x110.png?15079002831&jpg=1" class="top">
  <img src="https://djhr6j39qs1q5.cloudfront.net/cdn/recursos/552/520x110/envios2-520x110.png?15079002771&jpg=1" class="top">
  <img src="https://djhr6j39qs1q5.cloudfront.net/cdn/recursos/553/520x110/sucursales2-520x110.png?15079002431&jpg=1" class="top">
  <img src="https://djhr6j39qs1q5.cloudfront.net/cdn/recursos/554/520x110/atencion3-520x110.png?15082714251&jpg=1" class="top">
</div>

<section class="container">
<div class="py-cards">
  <h2 class="title mb">Nuestros productos más vendidos</h2>
  <mat-grid-list [cols]="tamCard" rowHeight="430px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let producto of listFavorite | slice : 0 : 4"> 

        <mat-card class="card-product">
            <div class="card-product-img">
            <img src="{{producto.url}}" >
          </div>
          <mat-divider></mat-divider>
          
            <mat-card-content class="card-product-content">
              <p class="card-product-name">
                {{producto.name | upperCaracter}}
              </p>
            </mat-card-content>
            <mat-card-content>
              <button mat-raised-button color="primary" routerLink="/producto/{{producto.slug}}">Ver más</button>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    
    </mat-grid-tile>  
  </mat-grid-list>
</div>

<div class="py-cards">
    <h2 class="title mb">Etiquetas más usadas</h2>
    <button mat-raised-button color="primary" *ngFor="let etiqueta of listEtiquetas | slice : 0 : 20" class="mt-2 mr-1"  routerLink="/producto-etiqueta/{{etiqueta.name}}"><mat-icon>loyalty</mat-icon><a class="h7">{{etiqueta.name}}</a></button>
</div>

<div class="py-cards">
  <h2 class="title mb">Categorias más populares</h2>
  <app-seccion></app-seccion>
</div>
<div class="py-cards">
  <h2 class="title mb tc"> Nuestro catalogo </h2>
  <mat-grid-list [cols]="tamCard" rowHeight="440px" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let producto of listProducts | slice : 0 : 4"> 
  
          <mat-card class="card-product">
              <div class="card-product-img">
              <img src="{{producto.url}}" >
            </div>
            <mat-divider></mat-divider>
            
              <mat-card-content class="card-product-content">
                <p class="card-product-name">
                  {{producto.name | upperCaracter}}
                </p>
              </mat-card-content>
              <mat-card-content>
                <button mat-raised-button color="primary" routerLink="/producto/{{producto.slug}}">Ver más</button>
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
            </mat-card>
      
      </mat-grid-tile>  
    </mat-grid-list>
  <h4 class="mt tc" routerLink="/busqueda/all"> Ver catalogo completo </h4>
</div>
</section>