<section>
<header class="bg-img">
<div class="publicidad">
  <p class="oferts-small">Ofertas exclusivas en Herramientas de uso domestico hasta %40</p>
  <h1 class="title">Oferta en ferreteria</h1>
  <h2 class="title"> hasta 20% de descuento</h2>
  <p class="oferts-small"> ¡Arma tu pedido ya y recibilo dentro de las 48hs habiles!</p>
  <button class="btn-go">Ir al catalogo</button>
</div>
</header>

<section id="section-of-sections">
<mat-grid-list [cols]="countTileSection" rowHeight="{{tamHeightSection}}" (window:resize)="onResize($event)">
    <mat-grid-tile> 
      <div class="container-section">
        <img src="assets/img/28.jpg" />
      </div>
    </mat-grid-tile> 
    <mat-grid-tile> 
        <div class="container-section">
          <img src="assets/img/28.jpg" />
        </div>
      </mat-grid-tile> 
      <mat-grid-tile> 
          <div class="container-section">
            <img src="assets/img/28.jpg" />

          </div>
        </mat-grid-tile>  
  </mat-grid-list>
</section>

<section id="some-products">
  <div>
    <h3>Ofertas semanales</h3>
  </div>
  <mat-grid-list [cols]="countTileProductOffer" rowHeight="{{tamHeightProductOffer}}" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let productOffer of listOfProducts | slice : 0 : 2"> 
        <div class="container-product cp" routerLink="/producto/{{productOffer.slug}}">
        <div class="cont-img">
          <img src="{{productOffer.url}}" />
        </div>
        <div class="cont-description">
          <p class="m-0"><b>{{productOffer.name}}</b></p>
          <p class="price"><b>$ {{productOffer.price}}</b></p>
          {{productOffer.description}}
        </div>
      </div>
      </mat-grid-tile>
    </mat-grid-list>
</section>

<section id="cursos"> 
  <img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/offer/31.jpg">
</section>

<section id="product-filter">
    <div>
      <h3>Más vendidos</h3>
      </div>
      <mat-grid-list [cols]="countTileProductBestSeller" rowHeight="{{tamHeightProductBestSeller}}" (window:resize)="onResize($event)">
          <mat-grid-tile *ngFor="let productOrder of listOfProductsOff | slice : 0 : 8"> 
            <div class="container-product-filter cp" routerLink="/producto/{{productOrder.slug}}"> 
            <div class="cont-img-filter">
              <img src="{{productOrder.url}}" />
            </div>
            <div class="cont-description-filter">
              <p class="m-0"><b>{{productOrder.name}}</b></p>
              <p class="price"><b>$ {{productOrder.price}}</b></p>
            </div>
          </div>
          </mat-grid-tile>
          </mat-grid-list>
</section>

<section id="yesero">
  <img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/offer/34.jpg">
</section>

<section id="product-seccion">
    <div>
        <a class="ps">Productos por seccion</a>
      </div>
          <div class="item-seccion ltl">
            <a class="mr item-sec-a" *ngFor="let nameSec of listSeccions | slice : 0 : 6" (click)="handleFilterProducts(nameSec.name)">{{nameSec.name | changeSpace | lowercase | upperCaracter}}</a>
          </div>
    <mat-grid-list [cols]="countTileProductSection" rowHeight="{{tamHeightProductSection}}" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let productOrder of listProductFilter | slice : 8 : 16"> 
          <div class="container-product cp" routerLink="/producto/{{productOrder.slug}}">
          <div class="cont-img">
            <img src="{{productOrder.url}}" />
          </div>
          <div class="cont-description">
            <p class="m-0"><b>{{productOrder.name}}</b></p>
            <p class="price"><b>${{productOrder.price}}</b></p>
          </div>
        </div>
        </mat-grid-tile>
        </mat-grid-list>
</section>

<section id="emp">
<div id="empresas">
<img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/brand/2.png">
<img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/brand/2.png">
<img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/brand/2.png">
<img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/brand/2.png">
</div>
</section>
</section>