
<h1 class="text-center">Agregar Cliente</h1>

<div class="example-container">
  <form id="formStoreClient" >
    <mat-form-field class="fw">
      <input [(ngModel)]="objectClient.name" matInput placeholder="Nombre de usuario" name="name">
    </mat-form-field>

    <mat-form-field class="fw">
      <input [(ngModel)]="objectClient.password" matInput placeholder="Contraseña" type="password" name="password">
    </mat-form-field>

    <mat-form-field class="fw">
      <input [(ngModel)]="objectClient.confirm" matInput placeholder="Confirmar contraseña" type="password" name="passwordConfirm" >
    </mat-form-field>

    <mat-form-field class="fw">
      <input [(ngModel)]="objectClient.mail" matInput placeholder="E-mail" name="mail">
    </mat-form-field>
    <input [(ngModel)]="objectClient.code" type="hidden" name="code" >
  </form>

  <button mat-raised-button color="primary" (click)="handleSendClient()">Crear</button>
  <button mat-raised-button color="danger" [routerLink]="['/backend/cliente']">Volver</button>
</div>
