<div class="conteiner-search">
    <div class="etiquetas">
      <b>Etiquetas relacionadas: </b> <a *ngFor="let etiqueta of listEtiquetas | slice : 0 : 14" class="mr">{{etiqueta.name}}</a> 
    </div>
    <div  class="content-catalogo ">
    <div class="left-content">
      <h2>Seccion  de {{nameSeccion | changeSpace}}/{{nameCategory | changeSpace}}</h2>
      <b class="font-product">Cantidad de productos : {{dataSource.data.length}}</b>
      <h3>Opciones</h3>
      <p class="font-product cp" *ngFor="let name of listOptions" (click)="handleFilter(name)"> {{name.name}} </p>
     
    </div>
    <div class="rigth-content">
        <mat-grid-list [cols]="tamCard" rowHeight="400px" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let product of dataSource.data"> 
                <mat-card class="card-product">
                    <div class="card-product-img">
                    <img src="{{product.url}}">
                  </div>
                  <mat-divider></mat-divider>
                  
                    <mat-card-content class="card-product-content">
                      <p class="card-product-name">
                        {{product.name}}
                      </p>
                      <p>
                        $ {{product.price}}
                      </p>
                    </mat-card-content>
                    <mat-card-content>
                      <button mat-raised-button color="primary" routerLink="/producto/{{product.slug}}">Ver más</button>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card> 
            </mat-grid-tile>
         </mat-grid-list>
    </div>
  </div>
</div>
        <div style="clear:both">
        <mat-paginator [pageSize]="9"></mat-paginator>
      </div>
