footer{
    background-color: #f7f7f7;
    color:#7a7a7a;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:50px;
    font-size: 13px;
}
.input-send > button > mat-icon {
    position: relative;
    top: 3px;
    left: 3px;
}
.title{
    color: #363f4d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.copy{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}
.h100{
    height: 100%;;
}
.btn-seguir{
    width: 35px;
    height: 35px;
    background: white;
    background-color: white;
    box-shadow: 1px 1px 1px #bfbfbf;
    border: 0;
    margin-right: 10px;
}
.enviar{
    background-color: white;
    min-height: 20vh;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 1px gainsboro;

}
.tam-em{
    padding-top: 30px;
    padding-left: 50px;
}
.tam-img{
    float: left;
    width: 7%;
    position: relative;
    top: 5px;
}
.revisa{
    font-size: 22px;
    display:-webkit-box;
}
.info{
    font-size: 18px;
    position: relative;
    bottom: 12px;
}
.input-send{
    display: inline;
    position: relative;
    bottom: 10px;
}
.input-send > button{
    position: relative;
    bottom: 12px;
    height: 41.9px;
    left: 79px;
    background: #22222d;
    border: 0px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding-right: 15px;
    

}

.input-send > input{
    display: inline;
    position: relative;
    bottom: 18px;
    left: 80px;
    width: 27%;
    outline: 0px;
    height: 40px;
    border-radius: 29px 0px 0px 25px;
    background: #e8e8e8;
    border: 0;
    padding-left: 24px;
}
.text-em{
    padding-top: 7px;
    float: right;
    width: 90%;
}
.first-img{
    width: 100%;
}

@media (max-width: 768px) {
    .info{
        bottom:0px!important;
    }
    .h100{
        width: 50%;
        text-align: center;
    }
    .btn-seguir{
        margin-left: 10px;
    }
    .input-send{
        display: block;
    }
    .input-send > input {
        left:-45px;
        bottom:0px;
        top:25px;
        width: 55%;
    }
    .input-send > button {
        left: -45px;
        top:32px;
        bottom:0px;
    }
 
    .first-img{
        text-align: center;
    }
    footer{
        padding-left: 25px;
        padding-right: 25px;
    }
    .tam-em{
        padding-left: 15px;
        padding-top:15px;
    }
    .enviar{
        min-height: 40vh;
    }
    .tam-img{
        width: 25%;
    }
    .tam-img > img {
        padding-top: 15px;
    }
    .text-em{
        width: 75%;
    }
}