<footer>
    <mat-grid-list [cols]="countTileFooter" rowHeight="{{tamHeightFooter}}" (window:resize)="onResize($event)">

      <mat-grid-tile> 
        <div style="width: 90%;height: 100%;">
          <div class="first-img">
              <img src="assets/img/logo.jpg">
              </div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majorited have suffered alteration.</p>
              <p><b>Dirección:</b> Cnel. Mom 2257, San Martin.</p>
              <p><b>Telefono:</b> (+800) 123 456 789</p>
              <p><b>Email:</b> secaconstrucciones@gmail.com</p>
            </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="h100">
          <p class="title"><b>Información</b></p>
          <p>Quienes somos</p>
          <p>Contacto</p>
          <p>Servicios</p>
          <p>Catalogo</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="h100">
            <p class="title"><b>Mi cuenta</b></p>
            <p>Mi cuenta</p>
            <p>Carrito</p>
            <p>Checkout</p>
            <p>Preguntas frecuentes</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="h100">
              <p class="title"><b>Seguinos </b></p>
              <button class="btn-seguir"><mat-icon>whatshot</mat-icon></button>
              <button class="btn-seguir"><mat-icon>whatshot</mat-icon></button>
              <button class="btn-seguir"><mat-icon>whatshot</mat-icon></button>
              <button class="btn-seguir"><mat-icon>whatshot</mat-icon></button>
            </div>
          </mat-grid-tile>
  </mat-grid-list>
  <div class="enviar">
    <div class="tam-em">
      <div class="tam-img">
    <img src="https://d29u17ylf1ylz9.cloudfront.net/Javenist/img/icon/11.png">
      </div>
    <div class="text-em">
      <a class="revisa">Registra tu email</a>
      <a class="info">y recibi informacion sobre todas las ofertas</a>
      <div class="input-send">
        <input type="text">
        <button><mat-icon>mail_outline</mat-icon></button>  
      </div>
    </div>
  </div>
  </div>
  <div class="copy">
      Copyright © 2018 Hastech, All Rights Reserved.
  </div>
</footer>