@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Shanti');

body{
    margin : 0px;
    font-family: 'Shanti', sans-serif!important;
}
.mb{
    margin-bottom: 15px!important;
}
.mt{
    margin-top: 15px!important;
}
.mr{
    margin-right: 15px!important;
}
.ml{
    margin-left: 15px!important;
}
.pb{
    padding-bottom: 15px!important;
}