@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin : 0px;
}
.mb{
    margin-bottom: 15px!important;
}
.mt{
    margin-top: 15px!important;
}
.mr{
    margin-right: 15px!important;
}
.ml{
    margin-left: 15px!important;
}