
table, .mat-grid-tile .mat-figure  {

  width: 100%;
}
.mat-column-select {
  overflow: auto;
}

td{
  width:250px;
}

.example-container {
  display: flex;
  flex-direction: column;
}
.rigth{
  float: right;
  padding-top: 25px;
}
@media screen and (max-width: 768px) {
  td{
      height: 90px;
      padding: 5px!important;
  }
  th{
      padding: 5px!important;
  }
  .mobil{
      float:none;
      text-align:center;
      width: 100%;
  }
  table {
      display: block;
      overflow-x: auto;
  }
  .rigth{
      float: none!important;
  }
  .backend{
      padding-left: 25px;
      padding-right: 25px;
  }
  .inputFilter{
      width: 100%;
  }
}
