<div class="nav-container">
    <mat-toolbar class="toolbar">
      <span class="right-img"><img src="assets/img/logo.jpg" class=" logo-img img-fluid" alt=""></span>
      <span class="right">
        <mat-form-field appearance="legacy">
          <mat-label>Buscar producto</mat-label>
          <input matInput placeholder="" name="value" #inputSearch>
          <mat-icon  matSuffix class="icon-search" (click)="handleSearchProduct(inputSearch)">search</mat-icon>
          
        </mat-form-field>
      </span>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon id="menu">menu</mat-icon>
      </button>
  
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-cont">
      <mat-sidenav #snav position="end">
        <mat-nav-list>
          <mat-list dense>

            <mat-list-item routerLink="/home">
              <mat-icon>home</mat-icon> <a> Inicio</a> 
           </mat-list-item>
              <mat-list-item routerLink="/categorias">
                 <mat-icon>dashboard</mat-icon> <a >Categorias</a> 
              </mat-list-item>
  
              <mat-list-item>
                  <mat-icon>style</mat-icon> Ofertas semanales 
                </mat-list-item>
  
              <mat-list-item>
                <mat-icon>shopping_cart</mat-icon> Tu carrito
               </mat-list-item>
  
               <mat-divider class="my-2"></mat-divider>
               
               <span *ngIf="clientOnline == undefined">
               <mat-list-item routerLink="/login">
                 <mat-icon>supervised_user_circle</mat-icon> Iniciar sesión
               </mat-list-item>
              </span>
              <span *ngIf="clientOnline != undefined">
                <mat-list-item>
                  <mat-icon>supervised_user_circle</mat-icon> {{clientOnline}}
                </mat-list-item>
                <mat-list-item (click)="handleExitSession()">
                    <mat-icon>label_important</mat-icon> Cerrar session
                  </mat-list-item>
              </span>
  </mat-list>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <section id="frontend">
          <router-outlet></router-outlet>
        </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  